body {
  background-color: #FFC3B0;
  text-align: center;
  margin:
}

.new_rental {
  display:inline-block;
  /*margin-left:1em;*/
  border-radius: 10px;
  border: 2px;
  border-color: black;
  border-style: solid;
  text-align: right;
  margin: 10px;
  padding: 10px;
}

.new_rental #save {
  text-align: center;
}

button {
margin: 2px;
}
h1 {
  font-style: italic;
}

.for_rent {
  display:inline-block;
  /*margin-left:1em;*/
  border-radius: 10px;
  border: 2px;
  border-color: black;
  border-style: solid;
  text-align: left;
  margin: 10px;
}

a {
  color: #123456;
}

a:hover {
  color: green;
}
